<html>

    <head>

    </head>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>

    <body onload="OnPageRender()">

        <style>
            .new_segment{background-color: #66cdaa;}
            .old_segment{background-color: white;}
            .whitelist{background-color: #dddddd;}
            .key{font-size: 12px;}
            .header{padding:10px; font-weight:bold;}
            .cell{padding:10px; vertical-align:top; word-wrap:break-word;}
            .edited_text{font-size: 12px;}
        </style>

        <table width="100%" border="1" style="table-layout: fixed; border-collapse:collapse;">
            <tr>
                <td width="20%" class="header">Key</td>
                <td width="35%" class="header">Original</td>
                <td width="35%" class="header">Translation</td>
            </tr>
            {% for segment in segments %}
            <tr segment="true" {% if segment.in_whitelist %}whitelist="True" {% endif %}>
                <td width="20%" class="key">{{segment.key}}</td>
                <td width="35%" class="cell" {% if not segment.in_whitelist %}onclick="OnCellClick(this)"{% endif %} lang="ru">{{segment.original}}</td>
                <td width="35%" class="cell" {% if not segment.in_whitelist %}onclick="OnCellClick(this)"{% endif %} lang="ua">{{segment.translation}}</td>
            </tr>
            {% endfor %}

        </table>

        <script>
            var activeCell = null;

            var tds = document.getElementsByTagName('td');
            for (var i = 0; i < tds.length; i++) {
                tds[i].innerHTML = MsgJStoTd(tds[i].innerHTML)
            }

            window.addEventListener("keyup", onEscapeKeyListener, false);
        </script>


    </body>

</html>
