<html>

    <head>

    </head>

    <body onload="OnPageRender()">

        <style>
            .new_segment{background-color: #66cdaa;}
            .old_segment{background-color: white;}
            .whitelist{background-color: #dddddd;}
            .key{font-size: 12px;}
            .header{padding:10px; font-weight:bold;}
            .cell{padding:10px;}
        </style>

        <table width="100%" border="1">
            <tr>
                <td width="10%" class="header">Key</td>
                <td width="45%" class="header">Original</td>
                <td width="45%" class="header">Translation</td>
            </tr>
            {% for segment in segments %}
            <tr segment="true" {% if segment.in_whitelist %}whitelist="True" {% endif %}>
                <td width="10%" class="key">{{segment.key}}</td>
                <td width="45%" class="cell">{{segment.original}}</td>
                <td width="45%" class="cell" onclick="OnCellClick(this)">{{segment.translation}}</td>
            </tr>
            {% endfor %}

        </table>

        <script>
            var activeCell = null;

            var tds = document.getElementsByTagName('td');
            for (var i = 0; i < tds.length; i++) {
                tds[i].innerHTML = tds[i].innerHTML.replace(/\n\n/g, '<br>')
            }

            function InitTextarea(ta) {
                ta.setAttribute('style', 'height:' + (ta.scrollHeight) + 'px;overflow-y:hidden;');
                ta.addEventListener("input", OnInput, false);
            }

            function OnPageRender() {
                var rows = document.getElementsByTagName('tr');
                for (var i = 1; i < rows.length; i++) {
                    if (rows[i].hasAttribute("segment")) {
                        OnRowRender(rows[i]);
                    }
                }
            }

            function OnRowRender(row) {
                var cells = row.getElementsByTagName("td");
                var source = cells[1].innerHTML;
                var transl = cells[2].innerHTML;
                <!--cell is New-->
                if (row.hasAttribute("whitelist")) {
                    row.className = "whitelist";
                }
                else if (source == transl) {
                    row.className = "new_segment";
                }
                <!--cell is Translated-->
                else {
                    row.className = "old_segment";
                }
            }

            function OnInput() {
              this.style.height = 'auto';
              this.style.height = (this.scrollHeight) + 'px';
            }

            function OnCellClick(cell) {

                if (activeCell == cell) {
                    return;
                }
                else if (activeCell != null) {
                    ResetCell(activeCell);
                }
                var content = cell.innerHTML;
                while (cell.firstChild)
                    cell.removeChild(cell.firstChild);

                var ta = document.createElement('textarea');
                <!--var p = e.parentNode;-->
                <!--cell.style.display = "none";-->

                ta.value = content.replace(/<br>/g, '\n');
                ta.cols = 60;

                cell.appendChild(ta);
                InitTextarea(ta);

                ta.focus();

                activeCell = cell;
            }

            function ResetCell(e) {
                var ta = e.getElementsByTagName("textarea")[0];

                var k = e.parentElement.getElementsByTagName("td")[0].innerText;
                var s = e.parentElement.getElementsByTagName("td")[1].innerText
                var t = ta.value;

                e.removeChild(ta);

                ReportChange(k, t.replace(/\n/g, '\n\n'));
                e.innerHTML = t.replace(/\n/g, '<br>');

                OnRowRender(e.parentNode);
            }

            function ReportChange(k, v) {
                var request = new XMLHttpRequest();
                request.onload = function() {
                    console.log("Request for " + k + ":" + v + "");
                    console.log("Status: " + request.status);
                    console.log("Response:" + request.responseText);
                }
                request.onreadystatechange = function() {
                    if (request.readyState == XMLHttpRequest.DONE) {
                        if (request.status != 200) {
                            alert(request.statusText);
                        }
                    }
                }
                request.open("POST", "http://127.0.0.1:5000/report", true);
                request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                var body = JSON.stringify({ "key": k, "translation": v })
                request.send(body)
            }

            function onKeyUpListener(e) {
                var keyCode = e.which;
                if ((keyCode == 27) && activeCell) {
                    ResetCell(activeCell);
                    activeCell = null;
                }
            }

        </script>

        <script>
            window.addEventListener("keyup", onKeyUpListener, false);
        </script>


    </body>

</html>
