<html>

    <head>

    </head>

    <body onload="OnPageRender()">

        <style>
            .new_segment{background-color: #66cdaa;}
            .old_segment{background-color: white;}
            .whitelist{background-color: #dddddd;}
            .key{font-size: 12px;}
        </style>

        <table width="100%" border="0">
            <tr>
                <td width="10%"><div style="padding:2px;margin:2px">Key</div></td>
                <td width="45%"><div style="padding:2px;margin:2px">Original</div></td>
                <td width="45%"><div style="padding:2px;margin:2px">Translation</div></td>
            </tr>
            {% for segment in segments %}
            <tr segment="true" {% if segment.in_whitelist %}whitelist="True" {% endif %}>
                <td width="10%" class="key">
                    <div style="padding:2px;margin:2px"
                         id="{{segment.key}}">{{segment.key}}</div>
                </td>
                <td width="45%">
                    <div style="padding:2px;margin:2px"
                         id="{{segment.key}}.s">{{segment.original}}</div>
                </td>
                <td width="45%">
                    <div style="padding:2px;margin:2px"
                         onclick="OnClick(this)"
                         id="{{segment.key}}.t">{{segment.translation}}</div>
                </td>
            </tr>
            {% endfor %}

        </table>

        <script>
            var tx = document.getElementsByTagName('textarea');

            var activeCell = null;

            for (var i = 0; i < tx.length; i++) {
                InitTextarea(tx[i]);
            }

            function InitTextarea(ta) {
                ta.setAttribute('style', 'height:' + (ta.scrollHeight) + 'px;overflow-y:hidden;');
                ta.addEventListener("input", OnInput, false);
            }

            function OnPageRender() {
                var rows = document.getElementsByTagName('tr');
                for (var i = 1; i < rows.length; i++) {
                    if (rows[i].hasAttribute("segment")) {
                        OnRowRender(rows[i]);
                    }
                }
            }

            function OnRowRender(row) {
                var cells = row.getElementsByTagName("td");
                var source = cells[1].getElementsByTagName("div")[0].innerHTML;
                var transl = cells[2].getElementsByTagName("div")[0].innerHTML;
                <!--cell is New-->
                if (row.hasAttribute("whitelist")) {
                    row.className = "whitelist";
                }
                else if (source == transl) {
                    row.className = "new_segment";
                }
                <!--cell is Translated-->
                else {
                    row.className = "old_segment";
                }
            }

            function OnInput() {
              this.style.height = 'auto';
              this.style.height = (this.scrollHeight) + 'px';
            }

            function OnClick(e) {

                if (activeCell != null) {
                    ResetCell(activeCell);
                }
                var p = e.parentNode;
                e.style.display = "none";
                var ta = document.createElement('textarea');

                ta.value = e.innerHTML;
                ta.cols = 60;

                p.appendChild(ta);
                ta.focus();

                activeCell = p;
            }

            function ResetCell(e) {
                var ta = e.getElementsByTagName("textarea")[0];
                var div = e.getElementsByTagName("div")[0];

                var k = e.parentElement.getElementsByTagName("td")[0].getElementsByTagName("div")[0].innerText;
                var s = e.parentElement.getElementsByTagName("td")[1].getElementsByTagName("div")[0].innerText
                var t = ta.value;

                div.innerHTML = ta.value;
                e.removeChild(ta);
                div.style.display = "block";

                if (s != t) {
                    ReportChange(k, t);
                }

                OnRowRender(div.parentNode.parentNode);
            }

            function ReportChange(k, v) {
                var request = new XMLHttpRequest();
                request.onload = function() {
                    console.log("Request for " + k + ":" + v + "");
                    console.log("Status: " + request.status);
                    console.log("Response:" + request.responseText);
                }
                request.open("POST", "http://127.0.0.1:5000/report", true);
                request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                var body = JSON.stringify({ "key": k, "translation": v })
                request.send(body)
            }

        </script>

    </body>

</html>